// colors
$primary: #C39D61;
$background: #191a1a;
$paragraph-typo: #eee;
$grey-typo: #929292;
$dark-typo: #191a1a;

// set html and body styles
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: $paragraph-typo;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: $background;
    padding: 0;
    margin: 0;
}

// anchor tags
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.4s ease;
}

// tel
.tel {
    @media(min-width: 1024px) {
        cursor: pointer;
        pointer-events: none;
    }
}

// typography
h1 {
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0;
}
h2 {
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0 0 30px 0;
}
p {
    margin: 0 0 20px 0;
}

// buttons
.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    min-height: 48px;
    color: $dark-typo;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 17px 15px;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.4s ease;
}
.btn-solid {
    background-color: $primary;

    span {
        position: relative;
        z-index: 1;
        pointer-events: none;
    }
    svg {
        position: relative;
        fill: $dark-typo;
        z-index: 1;
        transition: fill 0.4s ease;
        pointer-events: none;
    }
}
.btn.btn-solid {
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #9b4d46;
        transition: left 0.4s ease;
    }
    &:hover {
        color: #fff;
        svg {
            fill: #fff;
        }
        &::before {
            left: 0;
        }
    }
}

// container
#content {
    .container {
        position: relative;
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
    }
}

// header
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 26px 20px;
    z-index: 100;

    .header-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .menu-btn {
            position: relative;
            width: 40px;
            height: 25px;
            min-height: auto;
            border: none;
            box-shadow: none;
            background-color: transparent;
            padding: 0;
            margin-left: 0;
            margin-right: auto;
            cursor: pointer;
    
            span {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #fff;
                transition: width 0.4s ease, transform 0.4s ease, left 0.4s ease;
                pointer-events: none;
    
                &:first-child {
                    top: 0;
                    width: 40px;
                }
                &:nth-child(2) {
                    top: 10px;
                    width: 30px;
                }
                &:nth-child(3) {
                    top: 20px;
                    width: 20px;
                }
            }

            &:hover {
                span:first-child {
                    width: 20px;
                }
                span:nth-child(3) {
                    width: 40px;
                }  
            }
        }
        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            a {
                color: #fff;
                font-family: 'Playfair Display', serif;
                font-size: 48px;
                font-weight: 600;
                letter-spacing: -3px;
    
                span {
                    color: $primary;
                }
            }
        }
        .reservation {
            margin-right: 0;
            margin-left: auto;
    
            span {
                display: none;
                vertical-align: middle;
                margin-right: 8px;
                @media(min-width: 600px) {
                    display: inline-block;
                }
            }
            
            svg {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

// navigation menu
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $background;
    opacity: 0;
    visibility: hidden;
    z-index: 90;
    transition: opacity 0.4s ease, visibility 0.4s ease;

    .nav-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 20px;

        .nav-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            @media(min-width: 1000px) {
                flex-direction: row;
            }

            button {
                color: $primary;
                font-size: 43px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 8px;
                border: none;
                box-shadow: none;
                background-color: transparent;
                padding: 10px;
                transition: color 0.4s ease;
                cursor: pointer;

                &:hover {
                    color: #fff;
                }

                @media(min-width: 768px) {
                    font-size: 52px;
                    padding: 20px;
                }
                @media(min-width: 1000px) {
                    font-size: 60px;
                }
                @media(min-width: 1200px) {
                    font-size: 70px;
                    padding: 40px;
                }
            }
        }
        .nav-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media(min-width: 1000px) {
                flex-direction: row;
            }

            span {
                color: $grey-typo;
                font-size: 18px;
                letter-spacing: 1px;
                padding: 25px 25px 0 25px;
            }

            a {
                color: $grey-typo;
                font-size: 18px;
                letter-spacing: 1px;
                padding: 25px 25px 0 25px;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

// navigation menu open state
.menu-open {
    .header {
        .header-inner {
            .menu-btn {
                span:first-child {
                    top: 12px;
                    width: 40px;
                    transform: rotate(45deg);
                    transition: transform 0.4s ease, width 0s ease;
                } 
               span:nth-child(2) {
                   width: 40px;
                   left: -100%;
                   transition: width 0s ease;
               } 
               span:nth-child(3) {
                   top: 11px;
                   transform: rotate(-45deg);
                   width: 40px;
                   transition: transform 0.4s ease;
                } 
            }
        }
    }
    .nav {
        opacity: 1;
        visibility: visible;
    }
}

// homepage
#content {
    // hero
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 100vh;

        .hero-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.6;
        }
        .hero-inner {
            text-align: center;
            padding: 0 20px;
            z-index: 1;

            h1 {
                @media(min-width: 1200px) {
                    font-size: 70px; 
                }

                span {
                    color: $primary;
                }   
            }
        }
    }

    //  intro
    .intro {
        padding: 90px 0;

        .intro-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media(min-width: 1000px) {
                flex-wrap: nowrap;
            }

            .left {
                width: 100%;
                margin: 0 20px 45px 20px;
                @media(min-width: 1000px) {
                    width: 50%;
                    padding-right: 2%;
                    margin: 0 20px 0 20px;
                }

                .intro-image {
                    width: 100%;
                    padding-bottom: 50%;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    @media(min-width: 1000px) {
                        padding-bottom: 100%;
                    }
                }
            }
            .right {
                width: 100%;
                text-align: center;
                margin: 0 20px;
                @media(min-width: 1000px) {
                    width: 50%;
                    text-align: left;
                    margin: 0 20px 0 20px;
                }

                h2 { 
                    span {
                        color: $primary;
                    }
                }
                .intro-buttons {
                    margin-top: 45px;

                    button {
                        margin: 0 0 10px 0;
                        @media(min-width: 450px) {
                            margin: 0 10px 10px 0;  
                        }
                    }
                    
                    a {
                        margin: 0 0 10px 0;
                        @media(min-width: 450px) {
                            margin: 0 0 10px 10px;
                        }
                    }
                }
                .intro-image-2 {
                    display: none;
                    width: 100%;
                    padding-bottom: 50%;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin: 100px 0 0 -100px;
                    @media(min-width: 1000px) {
                        padding-bottom: 100%;
                    }
                    @media(min-width: 1100px) {
                        display: block;
                    }
                }
            }
        }
    }

    // menu
    .menu {
        height: 75vh;

        .container {
            height: 100%;
            max-width: 1550px;

            .menu-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 100%;
                margin: 0 20px;

                .menu-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.6;
                }
            }
            .menu-inner {
                position: relative;
                text-align: center;
                padding: 0 20px;
                z-index: 1;
                
                button {
                    margin-top: 45px;
                }
            }
        }
    }

    // contact
    .contact {
        padding: 90px 0;

        .contact-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            @media(min-width: 1000px) {
                flex-wrap: nowrap;
                text-align: left;
            }

            .left {
                width: 100%;
                margin: 0 20px 45px 20px;
                @media(min-width: 1000px) {
                    width: 50%;
                    padding-right: 6%;
                    margin: 0 25px 0 40px;
                }
                button {
                    margin-top: 45px;
                }
            }
            .right {
                width: 100%;
                margin: 0 20px;
                @media(min-width: 1000px) {
                    width: 50%;
                }

                .contact-image {
                    position: relative;
                    width: 100%;
                    padding-bottom: 65%;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    @media(min-width: 600px) {
                        padding-bottom: 50%;
                    }
                    @media(min-width: 1000px) {
                        padding-bottom: 100%;
                    }
                }
                .contact-address {
                    color: $paragraph-typo;
                    text-align: right;
                    padding: 10px 0;
                }
            }
        }
    }
}

// footer
.footer {
    position: relative;
    padding: 40px 0;

    &::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        transform: translateY(-50%);
        background-color: $primary;
        z-index: -1;
    }

    .footer-top {
        margin: 0 20px;

        .footer-top-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            color: $dark-typo;
            max-width: 1240px;
            padding: 35px;
            margin: 0 auto;
            background: $primary;

            .open-hours {
                .hours {
                    margin-bottom: 4px;
                }
            }

            .col {
                padding: 20px;

                .title {
                    color: $dark-typo;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
            .contact {
                a {
                    display: block;
                    margin-bottom: 4px;
    
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .social {
                a {
                    display: inline-block;
                    margin-right: 20px;
    
                    svg {
                        fill: $dark-typo;
                        transition: fill 0.4s ease;
                    }
                    &:hover {
                        svg {
                            fill: #fff;
                        }
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            @media(min-width: 665px) {
                justify-content: start;
                text-align: center;

                .col {
                    width: 33.333333%;
                }
            }
        }
    }
    .copyright {
        color: $grey-typo;
        text-align: center;
        padding: 40px 20px 0 20px;
    }
}